body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color {
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 150px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.section {
    height: 500px;
    padding-bottom: 150px;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3 {
    color: orange;
}
.single-expens {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    border-left: 10px solid;
}
#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}
